.carousel__title {
    color: var(--accent-orange);
    background-color: var(--white);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.125em; /* 18px */
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
}

.card__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.card__description {
    margin: 0 0.5em 0;
}

.card__title {
    color: var(--accent-orange);
    font-size: 1em;
    font-weight: 700;
}

.card__secondary-title {
    color: var(--secondary-blue);
    font-size: 1.125em;
    font-weight: 700;
    margin: 0.3em 0;
}

.card__text {
    font-size: 0.875em; /* 14px */
    filter: brightness(85%);
}

.card__buttons {
    display: flex;
    justify-content: space-between;
}

.card__buttons-icon {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.button__item {
    margin: 0 1em 0 0;
    scale: 80%;
}

.buttons__anchor {
    color: var(--white);
    background-color: var(--accent-orange);
    text-decoration: none;
    padding: 1em 2.2em;
    font-weight: 700;
}

@media screen and (min-width: 1024px) { 
    .carousel__title {
        font-size: 1.625em;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-next, 
    .swiper-button-prev {
        display: block;
        top: 60%;
    }

    .card {
        margin: 2em auto;
        width: 40%;
    }
}


