hr {
    margin: 0;
}

.footer {
    background-color: var(--white);
    padding: 1em;
}

.footer-list {
    display: none;
}

@media screen and (min-width: 1024px) {
    .footer {
        display: flex;
        justify-content: space-around;
        padding: 3em 0;
    }

    .footer-list {
        display: block;       
    }

    .footer__title {
        font-size: 1.5em;
    }

    .footer-list__title {
        text-transform: uppercase;
        color: var(--light-gray);
        font-size: 0.875em;
        margin-bottom: 1em;
    }

    .footer-list__item {
        display: flex;
        align-items: center;
        margin: 1em 0;
    }

    .footer-list__link {
        text-decoration: none;
        color: var(--dark-gray);
        font-size: 0.875em;
        margin-left: 0.6em;
    }
}

@media screen and (min-width: 1728px) { 
    .footer-list {
        border-left: 1px solid var(--light-gray);
        padding-left: 1em;
    }

    .footer {
        padding: 3em 0;
    }
}